.header {
    display: flex;
    color: #fff;
    flex-direction: column;
    background: url('../assets/bg-header.jpg') 100% no-repeat;
    background-color: #0b0b67;
    width: 100%;
    height: 802px;
    padding: 20px;
    position: relative;
}

@media (min-width: 768px) {  

    .header {
        background-size: 1560px 1041px;
    }
}

.header_star {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header_star--1 {
    position: absolute;
    top: 23px;
    left: -37px;
    height: 100%;
    background: url(../assets/stars.png) top right no-repeat;
    /* background-size: 722px 630px; */
    transform: translate(-10px, -10px);
    animation: stars 8s ease infinite, move-stars 8s ease-out infinite;;
}


@media (min-width: 768px) {  

    .header_star--1 {
        position: absolute;
        top: -89px;
        left: -41px;
        background: url(../assets/stars.png) 0 0 no-repeat;
        background-size: 939px 819px;
        background-position: right top;
        transform: translate(-70px, 10px);
        transition: transform 5s ease-in;
        animation: stars 8s ease infinite, 
                move-stars 8s ease-in-out infinite;
    }
}


.header_star--2 {
    position: absolute;
    top: 2px;
    left: 0px;
    background: url(../assets/stars-3.png) 100% no-repeat;
    background-size: 448px 670px;
    animation: big-stars 8s ease-in-out infinite;
}

@media (min-width: 768px) {  

    .header_star--2 {
        position: absolute;
        top: 0;
        left: -1px;
        background: url(../assets/stars-3.png) 0 0 no-repeat;
        background-position: right;
        background-size: 575px 869px;
        animation: big-stars 8s ease-in-out infinite;
    }
}


@keyframes stars {
    0%,20%,40%,60%,80%,100% {
        opacity: 0.8;
    }
    
    10%,30%,50%,70%,90% {
        opacity: 1;
    }
}

@keyframes big-stars {
    0%{opacity: 0.1;}
    60%{opacity: 1;}
    100%{opacity: 0.1;}
}


@keyframes move-stars {
    0%{transform: translate(-10px, -10px);}
    60%{transform: translate(0, 0);}
    100%{transform: translate(-10px, -10px);}
}


@media (min-width: 768px) {  

        @keyframes move-stars {
            0%{transform: translate(-50px, 10px);}
            60%{transform: translate(-4px, 0);}
            100%{transform: translate(-50px, 10px);}
        }

        @keyframes big-stars {
            0%{opacity: 1;}
            60%{opacity: 0.1;}
            100%{opacity: 1;}
        }
}

.header_middle {
    max-width: 426px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.heading_box h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, .7);
    margin-top: 40px;
}

@media (min-width: 768px) {  

    .heading_box h2 {
        margin-top: 80px;
    }
}

.header_logo {
    margin-bottom: 13px;
}

.header_logo img {
    transition: all 1s linear;
}

.header_logo img:hover {
    transform: rotate3d(0,1,0, 180deg) scale3d(1.3, 1.3, 1.3);
    /* animation: rotateLogo 1.6s ease-out; */
}
     
/* @keyframes rotateLogo {
 0%{transform: scale(1) rotateY(0deg)}
 50%{transform: scale(1.3) rotateY(.5turn)}
 70% {transform: scale(1.3) rotateY(.5turn)}
 100%{transform: scale(1) rotateY(0deg)}   
} */

.main_heading {
    max-width: 366px;
    margin: 0 auto;
}

.heading_box h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 64px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

@media (min-width: 768px) {
    .header_top {
        margin-top: 50px;
    }   
}

.header_icon, .footer_icon, .address {
    font-family: 'Source Sans Pro', sans-serif;
}

.header_icon {
    width: 35%;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.header_icon a {
    color: #fff;
    text-transform: uppercase;
}

.header_nav {
   width: 65%; 
}

.header_nav ul {
    display: none;
    /* justify-content: space-between; */
}

.nav_toggle {
    position: absolute;
    /* border: 1px solid #fff; */
    border-radius: 3px;
    padding: 0;
    top: 40px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger {
    display: block;
    width: 22px;
    height: 3px;
    background: #fff;
    position: relative;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 22px;
    height: 3px;
    background: #fff;
    margin: 2px 0;
    position: absolute;
} 

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    top: -10px;
}

/* Medium screen devices (768px and above) */
@media (min-width: 768px) {  

    .header_nav ul {
        display: flex;
    }

    .nav_toggle {
        display: none;
    }   
}

.header_nav ul li {
    margin-right: 30px;
}


.header_nav li a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    border-bottom: 2px solid transparent;
}

.header_nav li a:hover {
    border-bottom: 2px solid #FFFFFF;
}
